.modalWindow {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(7px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWindow_content {
    position: relative;
    border-radius: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.calendar-container {
    margin-bottom: 10px;
}