.App {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    margin: 30px; 
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input {
    display: block;
    width: 460px;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;

    margin-right: 10px;
}

.form__input::placeholder {
    color: #212529;
    opacity: 0.4;
}


.form__button {
    background-color: #c6bdbd;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;

    width: 100px;
    height: 40px;

    font-size: 18px;
    font-family: inherit;
    text-align: center;
    line-height: 20px;
}

.form__button:hover {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}



